@model CustomerTotalSalesModel

@{
    ViewData["Title"] = $"Total sales for customer: {Model.Name}";
}

<h2>@ViewData["Title"]d</h2>

@{ 
    var totalCars = Model.BoughtCars.Count();
}
<p class="bg-info">@totalCars @(totalCars == 1?"Cars":"Car") Bought</p>
<p class="bg-warning">Total money spent: $ @(Model.TotalSpentMoney.ToString("F2"))</p>

