@model CarFormModel

<form method="post">
    <div class="form-group">
        <label asp-for="Make">Name</label>
        <input asp-for="Make" class="form-control" />
        <span asp-validation-for="Make" class="form-text text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Model"></label>
        <input asp-for="Model" class="form-control" />
        <span asp-validation-for="Model" class="form-text text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="TravelledDistance"></label>
        <input asp-for="TravelledDistance" min="0" class="form-control" />
        <span asp-validation-for="TravelledDistance" class="form-text text-danger"></span>
    </div>
    <div>
        <input class="btn btn-success" type="submit" value="Save Car" />
    </div>
</form>
