@model int

@{
    ViewData["Title"] = "Delete Part";
}

<h2>Are you sure you want to delete this part?</h2>
<a href="/parts/all" class="btn btn-default">Back</a>
<a href="/parts/destroy/@Model" class="btn btn-danger">Confirm Delete</a>

