@model IEnumerable<ListUserViewModel>
@{
    ViewData["Title"] = "All Users";
}

<h2>@ViewData["Title"]</h2>
@if (TempData["SuccessMessage"]!=null)
{
    <h2 class="text-success">@TempData["SuccessMessage"]</h2>
}

<div>
    <a href="/identity/create" class="btn btn-danger ">Add User</a>
</div>
<br />
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Username</th>
            <th>E-mail</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Username</td>
                <td>@user.Email</td>
                <td>
                    <a href="/identity/changepassword/@user.Id" class="btn btn-warning">Change Password</a>
                    <a href="/identity/delete/@user.Id" class="btn btn-danger">Delete</a>
                    <a href="/identity/roles/@user.Id" class="btn btn-default">Roles</a>
                </td>
            </tr>
        }
    </tbody>

</table>

