/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
/*My styles*/
.btn.edit-rent-btn {
    margin-top: 10px;
    margin-left:0;
}
input.input-invoice {
    margin-top: 10px;
    margin-left: 0;
}
.form-group>input.formdate {
    width:150px;
}
.form-group > input.form-money {
    width: 90px;
}
td>div.form-rent {
    width: 390px;
}

#loadingBox {
    background: #7CB3E9;
}

#infoBox {
    background: #393;
}

.notification {
    font-size: 1.5em;
    float: right;
    color: #ffffff;
    padding: 0.5em 2em 0.5em 2em;
    margin: 1em;
    display: none;
    position: fixed;
    top: 1em;
    right: 0;
    text-align: center;
    border-radius: 3px;
}


