@model CreateCompanyFormModel
@{
    ViewData["Title"] = "Фирми";
}
<h2>@ViewData["Title"]</h2>

<div class="row">
    @foreach (var company in Model.Companies)
    {
        <div class="card col-lg-4 text-center" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">@company.Name</h5>
                <h6 class="card-subtitle mb-2 text-muted">@company.Bulstat</h6>
                <p class="card-text">@company.Address</p>
                <a href="#" class="card-link">Паркомясто</a>
                <a href="#" class="card-link">Парцел</a>
            </div>
        </div>
    }
</div>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <h4>Създайте друга фирма.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AccountablePerson"></label>
                <input asp-for="AccountablePerson" class="form-control" />
                <span asp-validation-for="AccountablePerson" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bulstat"></label>
                <input asp-for="Bulstat" class="form-control" />
                <span asp-validation-for="Bulstat" class="text-danger"></span>
            </div>
            <button asp-action="Create" asp-controller="Companies" type="submit" class="btn btn-default">Създайте</button>
        </form>
    </div>
</div>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}