@model SuppliersModel

@{
    ViewData["Title"] = $"{Model.Type} Suppliers";
}

<h2>@Model.Type Suppliers</h2>

<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th> Id</th>
            <th>Name</th>
            <th> Parts</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var supplier in Model.Suppliers)
        { 
        <tr>
            <td>
                @supplier.Id
            </td>
            <td>
                @supplier.Name
            </td>
            <td>
                @supplier.TotalParts
            </td>
        </tr>

        }
    </tbody>
</table>