<form #form="ngForm" autocomplete="off">
<div class="form-group">
  <div class="input-group">
    <div class="input-group-prepend">
      <div class="input-group-text bg-white">
        <i class="fas fa-user-circle" 
          [class.green-icon]="CardOwnerName.valid" 
          [class.red-icon]="CardOwnerName.invalid && CardOwnerName.touched"  ></i>
      </div>
    </div>
    <input name ="CardOwnerName" 
          #CardOwnerName="ngModel" 
          [(ngModel)]="service.CardOwnerName" 
          class="form-control" 
          placeholder="Card Owner Name"
          required>
  </div>
</div>

<div class="form-group">
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text bg-white">
          <i class="far fa-credit-card"
          [class.green-icon]="CardNumber.valid" 
          [class.red-icon]="CardNumber.invalid && CardNumber.touched" ></i>
        </div>
      </div>
      <input name ="CardNumber" 
            #CardOwnerName="ngModel" 
            [(ngModel)]="service.CardNumber" 
            class="form-control" 
            placeholder="16 digit Card Number" 
            required
            maxlength="16"
            minlength="16">
    </div>
  </div>

  <div class="form-row">  
    <div class="form-group  col-md-7">
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text bg-white">
              <i class="fas fa-calendar-alt"
              [class.green-icon]="ExpirationDate.valid" 
              [class.red-icon]="ExpirationDate.invalid && ExpirationDate.touched"></i>
            </div>
          </div>
          <input name ="ExpirationDate" 
                #CardOwnerName="ngModel" 
                [(ngModel)]="service.ExpirationDate" 
                class="form-control" 
                placeholder="MM/YY"
                required
                maxlength="5"
                minlength="5">
        </div>
      </div>

      <div class="form-group  col-md-5">
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text bg-white">
                <i class="fas fa-key"
                [class.green-icon]="CVV.valid" 
                [class.red-icon]="CVV.invalid && CVV.touched"></i>
              </div>
            </div>
            <input type="password" 
                  name ="CVV" 
                  #CardOwnerName="ngModel" 
                  [(ngModel)]="service.CVV" 
                  class="form-control" 
                  placeholder="CVV"
                  required
                  maxlength="3"
                  minlength="3">
          </div>
      </div>
    </div>
      <div class="form-group">
        <button class="btn btn-success btn-lg btn-block" type="submit" [disabled]="form.invalid"><i class="fas fa-database"></i> Submit</button>
      </div>
</form>
