@model  InvoiceOutputModel
@{
    ViewData["Title"] = "Земи тая фактура на";
}

<h2>GetPdf</h2>

<h1 style="background-color:grey">@Model.Name</h1>
<h2 style="text-align:center">@Model.Bulstat</h2>
<h3>@Model.VAT lw</h3>