@model  InvoiceOutputModel
@{
    ViewData["Title"] = "Земи тая фактура на";
}

<h2>GetPdf</h2>

<h1 class="bg-danger">@Model.Name</h1>
<h2 class="text-center">@Model.Bulstat</h2>
<h3>@Model.VAT lw</h3>